<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}

	<!-- bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap.min.css") }}"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- bootstrap theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- totally brutal google font -->
	<link href='//fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>

	<!-- local css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skin/css/style.css') }}"> 

	<!-- jquery -->
	<script type="text/javascript" src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- bootstrap js -->
	<script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>	

	<!-- local js -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/metal.js') }}"></script>

	<!-- awaken the kraken of foolishness -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}{% endblock %} - Egad</title>
	{% endblock %}
</head>
<body>
	<div id="content">
		<div class="skull" id="home">NEW BRUTAL LYRICS</div>
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
		{% block footer %}
		<div class="baphomet">
			<span class="phoqueue">NEENER NEENER NEENER NEEENER NEEENER NEENER NEENER NEENER</span>
		</div>
		<p class="tiny">If you'd like this stupid thing on your site, you can access the api as <a href="/api/html">html</a>, <a href="/api/json">json</a> or <a href="/api/xml">xml</a>
		. This would look totally brutal with some dripping blood and fire gifs! Right? Right?</p>
		<p class="tiny"><a href="fromapi">Here</a> is an example of the api being bloodily consumed by jquery. It looks no different, but it's heavy, man.</p>
		<p class="tiny">Get your own copy of hrlnt from <a href="https://github.com/corporocorp/hrlnt">github</a>. Damn your soul and stuff.</p>
		{% endblock %}
	</div>
</body>
</html>
