<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skin/css/style.css') }}"> 

	<link href='//fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/metal.js') }}"></script>

	<title>{% block title %}{% endblock %} - Egad</title>
	{% endblock %}
</head>
<body>
	<div id="content">
		<div class="skull" id="home">HOME</div>
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
		{% block footer %}
		<div class="baphomet">
			<span class="phoqueue">NEENER NEENER NEENER NEEENER NEEENER NEENER NEENER NEENER</span>
		</div>
		<p class="tiny">If you'd like this stupid thing on your site, you can access the api as <a href="/api/html">html</a>, <a href="/api/json">json</a> or <a href="/api/xml">xml</a>
		. This would look totally brutal with some dripping blood and fire gifs! Right? Right?</p>
		<p class="tiny"><a href="fromapi">Here</a> is an example of the api being bloodily consumed by jquery. It looks no different, but it's heavy, man.</p>
		{% endblock %}
	</div>
</body>
</html>
